<section>
    <header>
        <img>
        <h2>Cody</h2>
        <svg>x</svg>
    </header>
    <ul>
    </ul>
    <form>
        <input type="text" autocomplete="off" placeholder=" ...">
        <button type="submit"><svg>></svg></button>
    </form>
</section>